<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<h1>Choose your operation</h1>
<select id="main_op" onchange="switchVisibility()">
    {% for op in op_class %}
        <option value={{ op.value }}>{{op.Desc}}</option>
    {% endfor %}
</select>
<div name="op_div" op="{{ op_class.DownOne.value }}">
    <p>input the actor's name:</p>
    <input type="text" id="actor_name" value="">
</div>
<div name="op_div" op="{{ op_class.DownLiked.value }}">
    all but only info? <input type="checkbox" id="only_info">
</div>
<div name="op_div" op="{{ op_class.DownSample.value }}">
    <p>try new actors or continue complete exist actors</p>
    <input type="radio" id="is_new_true" name="is_new" value="true">
    <label for="is_new_true">new actors</label><br>
    <input type="radio" id="is_new_false" name="is_new" value="false">
    <label for="is_new_false">current actors</label>
    <br>
</div>
<div name="op_div" op="{{ op_class.LikeAll.value }}">
</div>
<script>
function switchVisibility() {
  let op_value = document.getElementById("main_op").value;
  let str_op_value = op_value.toString();
    alert(str_op_value)
  op_div_list = document.getElementsByName("op_div");
  for(op_div in op_div_list){
     op_div.style.visibility = op_div.getAttribute('op') == str_op_value ? 'visible' : 'hidden'
  }
}
</script>
</body>
</html>